<div>
  <%= avatar shout.user%>
	<%= link_to shout.username, shout.user%>
	<%= render shout.content%>
	<%= link_to shout do %>
		about <%= time_ago_in_words(shout.created_at)%> ago
	<% end %>
	<%= like_button(shout) %>
</div>
