<div class="text-field">
  <%= form.label :username %>
  <%= form.text_field :username%>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.email_field :email%>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
